.container {
	display: grid;	
	grid-auto-flow: column;
	grid-auto-columns: 100%;
	gap: 5%;
	padding: 0 10%;
	margin: 2rem 0;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 500px) {
	.container {
		padding: 0 !important;
		scroll-padding: 0 !important;
		gap: 0 !important;
	}
}

.container > * {
	scroll-snap-align: center;
}

.controls {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	padding: 0 10%;
}

.dotContainer {
	position: absolute;
	left: 50%;
	translate: -50%;
}

.dot {
	--radius: 0.6rem;
	height: var(--radius);
	width: var(--radius);
	border-radius: 50%;
	border: 1px solid #63017f;
	display: inline-block;
	margin: 0 0.3rem;
	cursor: pointer;
}

.btnContainer {
	display: flex;
	gap: 1rem;
}

@media screen and (max-width: 500px) {
	.btnContainer {
		display: none;
	}
}

.btnContainer > * {
	--radius: 2.5rem;
	border-radius: 50%;
	height: var(--radius);
	width: var(--radius);
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 500px) {
	.imgContainer {
		margin: 2rem 0 4rem !important;
		width: 100% !important;
	}
	.contentContainer {
		width: auto !important;
		height: fit-content !important;
		padding: 2rem 2rem !important;
		border-top: 1px solid white !important;
	}
}
