/* landing-page.css */
@import url('https://fonts.googleapis.com/css?family=Raleway');

.landing-page {
    background: linear-gradient(261deg, #8663CB 0%, #A665D9 49.31%, #9840A4 91.94%);
    flex-shrink: 0;
    min-height: 96vh;
    position: relative;
    overflow:hidden;
  }
  .landing-img{
    width: 50%;
    height: 80%;
    flex-shrink: 0;
    background: url("/public/assets/home-landing.png"), lightgray 50% / cover no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -2rem;
    right: -2rem;
  }
  
  .navbar {
    z-index: 1000; /* Ensure the navbar is on top of the image */
  }
  
  .centered-text {
    position: absolute;
    top: 53%;
    left: 39%;
    transform: translate(-50%, -50%);
    text-align: start;
  }
.centered-text h2{
  font-family: Raleway;
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
}
  .centered-text p{
  width: 38rem;
  color: #fff;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 150% */
  letter-spacing: 0.075rem;
  padding-bottom: 2rem;
  opacity: 0.9;
}
  /* You can add more styles as needed */
