@import url('https://fonts.googleapis.com/css?family=Raleway');

.landing-page {
    min-width: 100vw;
    min-height: 50vw;
    display: flex;
    /* align-items: center; */
    background: linear-gradient(142deg, #5A0992 21.32%, #AA3293 128.23%);
    mix-blend-mode: plus-darker;
    /* justify-content: flex-end; */
  }
.landing-page-content{
  max-width: 100%;
  min-height: 30vw;
  z-index: 10;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
  
  .navbar {
    z-index: 800;
  }
  
  .centered-text {
    margin: 0 1rem;
    max-width:48vw;
    letter-spacing: 0.11rem;
    justify-content: center;
  }
.centered-text h2{
  font-family: Raleway;
  font-style: normal;
  font-size: clamp(1rem , 3vw , 2rem);
  font-weight: 800;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 137.778% ;
}
  .centered-text p{
  color: #fff;
  font-family: Raleway;
  font-size: clamp(0.6rem , 1.5vw , 1rem);
  font-style: normal;
  font-weight: 400;
  padding-bottom: 2.22vw;
  opacity: 0.9;
  letter-spacing: 0.11vw;
  width: 80%;
}