
.navbar-nav .nav-item .nav-link {
	font-weight: 700;
	font-family: sans-serif;
}

.navbar-nav .nav-item .nav-link.active {
	color: #007bff; 
}

.dropdown-menu {
	background-color: #fff;
}

.dropdown-menu .dropdown-item {
	color: #333; 
	background-color: #fff;
}

.dropdown-menu:hover .dropdown-item:hover {
	background-color: rgba(215, 214, 214, 0.4); 
}

.nav-modal {
  top: 0;
  translate: 0 -100%;
}

.nav-modal.active {
  top: 100%;
  translate: 0 0;
}
