@import "/node_modules/@fontsource/raleway/300.css";
@import "/node_modules/@fontsource/open-sans/300.css";
@import "/node_modules/@fontsource/inter/600.css";
@import url("https://unpkg.com/@webpixels/css@1.1.5/dist/index.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

html {
	max-width: 100vw;
	overflow-x: hidden;
	position: relative;
}

body {
	max-width: 100vw;
	overflow-x: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*:focus {
	outline: none;
}

.nav-item.active img {
	rotate: 180deg;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.pricing-main{
	width: 100vw;
	height: 40vw;
	position: relative;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
  }
  
  .modal-content {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 60%; /* Adjust the width as needed */
	
  }
  
.content-container {
	width: 100%;
	margin-top: 5.55vw;
  }
  .content-container h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
  }
  
  .content-container h2 {
	font-size: 2rem;
	margin-bottom: 0.8rem;
  }
  
  .content-container h3 {
	font-size: 1.8rem;
	margin-bottom: 0.6rem;
  }
  
  .content-container h4 {
	font-size: 1.5rem;
	margin-bottom: 0.4rem;
  }
  
  .content-container h5 {
	font-size: 1.2rem;
	margin-bottom: 0.3rem;
  }
  
  .content-container h6 {
	font-size: 1rem;
	margin-bottom: 0.2rem;
  }

  .content-container p {
	font-size: 1.1rem;
	line-height: 1.6;
	margin-bottom: 1.2rem;
  }
  
.content-container ul, ol {
	margin-bottom: 1.2rem;
	padding-left: 1.5rem;
  }
  
  .content-container li {
	font-size: 1.1rem;
	line-height: 1.6;
  }
  
  .content-container blockquote {
	margin: 2rem 0;
	padding: 1rem;
	border-left: 3px solid #b46bd1;
  }

  .content-container pre {
	margin-bottom: 1.2rem;
	padding: 1rem;
	background-color: #f7f7f7;
	border-radius: 5px;
	overflow-x: auto;
  }
  
  .content-container code {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1rem;
  }

  .content-container a {
	color: #007bff;
	text-decoration: underline;
  }

.course-container {
	max-width: 100vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	flex-wrap: wrap;
	gap: 1.11vw;
}

.course-container .card {
	max-width: 100%;
	border-radius: 1.25rem;
	border: 0.10vw solid #b46bd1;
	background: #fff;
	box-shadow: 0.2775vw 0.2775vw 1.388vw 0.2775vw rgba(0, 0, 0, 0.1);
	overflow: hidden;
}
.card img {
	max-width: 100%;
	aspect-ratio: 8/6.5;
	background: #f0f0f1;
}
.card-body {
	padding: 2vw 2vw 1vw;
	line-height: 1;
	aspect-ratio: 6/3;
}

.course-content {
	color: #b46bd1;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif', 'Helvetica Neue', sans-serif;
	font-size: 0.99vw;
	font-style: normal;
	font-weight: 600;
}
.purple-btn {
	display: flex;
	max-width: 100vw;
	font-family: Raleway;
	font-size: 1vw;
	font-style: normal;
	font-weight: 600;
	margin: 2vw 0 1.5vw;
	padding: 1.11vw 1.8vw;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 0.694vw;
	background: #b46bd1;
	color: #fff;
}
.purple-btn:hover {
	cursor: pointer;
	background-color: white;
	color: #b46bd1;
	border: 1px solid #b46bd1;
}

.about-first2 {
	background: #fff;
	box-shadow: 0.069vw 0.069vw 1.04vw 0.104vw rgba(0, 0, 0, 0.15);
	display: flex;
	max-width: 90%;
	margin-top: -5.5vw;
	justify-content: center;
	padding: 1rem 0;
}
.about-content {
	max-width: 90%;
	min-height: 75%;
	margin: 3.33vw auto;
	display: flex;
	flex-direction: row;
	padding: 0;
}
.about-content h3 {
	color: #ad60c8;
	text-align: start;
	font-family: Raleway;
	font-size: clamp(1rem, 1.5vw, 1.5rem) !important;
	font-style: normal;
	font-weight: 600;
	line-height: 4.1625vw;
	letter-spacing: -0.04995vw;
}

#button {
	color: #b86cd2;
	text-align: center;
	flex-shrink: 0;
	padding: 0.69375vw;
	background-color: #fff;
}

#button:hover {
	background-color: #b86cd2;
	color: #fff;
}

.btn {
	border-radius: 0.8325vw;
	border: 0.104vw solid #fff;
	color: #fff;
	max-width: 13vw;
	min-height: 4vw;
	flex-shrink: 0;
	gap: 0.69vw;
	font-family: Raleway;
	font-size: 1.33vw;
	font-style: normal;
	font-weight: 549;
	text-align: center;
}
.btn:hover {
	background-color: #fff;
	color: #ad60c8;
}

.about-content p {
	max-width: 100%;
	color: #2e2e2e;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: clamp(1rem, 1.5vw, 1.2rem) !important;
	font-style: normal;
	font-weight: 400;
	line-height: 2.08vw;
	letter-spacing: -0.025vw;
}
.v-line {
	max-width: 0.069vw;
	min-height: 3.33vw;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 0 2.22vw;
}

.h-line {
	max-width: 30%;
	min-height: 0.111vw;
	background: #b570cd;
}
.dot {
	background-image: url("/assets/dot.png");
	width: 2.22vw;
	height: 2.22vw;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* .part2 {
	max-width: 100%;
	color: #2e2e2e;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.25vw;
	font-style: normal;
	font-weight: 400;
	line-height: 2.08vw;
	letter-spacing: -0.025vw;
	padding: 0;
} */
.counter {
	margin-top: 4.773vw;
	padding: 0;
	max-width: 93%;
	overflow: hidden;
	background: #fff;
	box-shadow: 0.069vw 0.069vw 1.04vw 0.104vw rgba(0, 0, 0, 0.15);
}

.counter-heading {
	/* margin-top: 4.3rem; */
	padding: 0.555vw 0;
	font-weight: 500;
	text-align: center;
	font-size: 1.11vw;
	color: #fff;
	background: url("/assets/counter-img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0.138vw 0.138vw 1.04vw 0 rgba(0, 0, 0, 0.2);
}

.section1-main {
	min-width: 100%;
	margin-top: 9.435vw;
	/* padding: 1rem; */
}
.section1-main2 {
	max-height: 700px;
	width: 100vw;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 50vw;
}

.section1-main2 .first {
	width: 70%;
	/* height: 100%; */
}

.section1-main2 .second {
	width: 100%;
	/* aspect-ratio: 1/1; */
	height: 100%;
	min-height: 400px;
	display: block;
	background: linear-gradient(to bottom right, rgb(40, 11, 50), rgb(161, 81, 187));
	border-radius: 0.552vw 0 0 0;
}

.first {
	/* min-height: 100%; */
	display: flex;
	flex-direction: column;
	/* row-gap: 1rem; */
	position: relative;
	top: 2vw;
}

.first-para {
	color: #ad60c8;
	text-align: end;
	display: block;
	margin-top: 0vw;
}

.first-para h4 {
	font-size: 1.67vw;
	font-weight: 600;
	letter-spacing: 0.03312vw;
	line-height: 0.8;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: normal;
	color: #ad60c8;
}

.first-para p {
	font-size: 1.4vw;
	font-style: normal;
	font-weight: 400;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	letter-spacing: 0.03vw;
}

.first-img {
	border-radius: 0.25rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 50%;
	/* max-height: 300px; */
	max-width: 350px;
}
.bar {
	list-style: none;
	max-width: 70%;
	color: #fff;
}
.bar li {
	color: aliceblue;
	border-left: 0.069vw solid white;
	position: relative;
	padding: 0 3.45vw;
	padding-bottom: 2.76vw;
	font-size: clamp(0.8rem, 1.5vw, 1.3rem);
	font-weight: 400;
}

.bar li:last-child {
	padding-bottom: 0;
}

.bar li::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	translate: -50% 0;
	min-height: 1.33vw;
	min-width: 1.33vw;
	border-radius: 50%;
	background-color: rgba(181, 112, 205, 1);
	border: 0.207vw solid white;
}
.main-card--container {
	display: grid;
	grid-template-columns: repeat(4, minmax(333vw, 555vw));
	grid-gap: 2.76vw 0;
	justify-content: space-evenly;
	margin: 0 auto;
}
.card-emp {
	position: relative;
}
.card-emp-content {
	width: auto;
	color: #fff;
	display: block;
	text-align: center;
	padding: 0 0.693vw 0 0.693vw;
	background: #b86cd2;
}

.Subscribe-main {
	max-width: 100vw;
	margin: 7.54rem 0 0 0;
	flex-shrink: 0;
	background: url("/assets/subscribe-bg.jpg"), lightgray 50% / cover no-repeat;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7vw 9vw;
}
.subscribe-logo {
	display: flex;
	align-items: center;
}
.subscribe-content {
	min-height: 100%;
}

.subscribe-content p{
	color: #fff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif', 'Helvetica Neue', sans-serif;
	font-size: clamp(1.5rem , 2vw , 2rem);
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	margin-bottom: 1.18rem;
}
.subscribe {
	display: flex;
	width: 48vw;
	min-height: 3.88vw;
	border-radius: 0.693vw 0 0 0.693vw;
	overflow: hidden;
}
.email {
	max-width: 100%;
	background-color: #fff;
	/* color: rgba(26, 26, 26, 0.85); */
	font-size: 1.11vw;
	line-height: normal;
	letter-spacing: -0.02775vw;
}
.subscribe button {
	max-width: 30%;
	background-color: #ad60c8;
	border: none;
	color: #fff;
	font-size: 1.22vw;
	font-weight: 500;
}

.subscribe {
	border-radius: 0.5rem !important;
	overflow: hidden;
}

.email {
	width: 100%;
}

.input-email {
	font-size: 1vw !important;
	padding: 0 2vw;
	width: 100%;
}

.input-email::placeholder,
.input-email::-webkit-input-placeholder {
	font-size: 1vw !important;
	color: rgba(26, 26, 26, 0.70) !important;
}

.card-emp {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
	cursor: pointer;
	text-align: center;
}

.hidden-content {
	background-color: #b86cd2;
	text-align: start;
	padding: 3vw 1.33vw;
	min-height: 100%;
	color: #fff;
	position: absolute;
	transition: all 0.3s ease-in-out;
	top: 100%;
	width: 100%;
	/* font-size: 1.1vw; */
}
.card-emp:hover .hidden-content {
	top: 0;
	transition: all 0.5s ease-in-out;
}

.icon-container svg {
	fill: white;
	min-height: 100%;
}

.icon-container {
	display: flex;
	gap: 1.11vw;
	max-height: 1.22vw;
}

/* Home-Resource Section */
.resource-page {
	width: 100vw;
	padding: 0;
	margin: 0vw 0vw 14rem 5vw;
}
.resource-content1 {
	width: 100%;
	margin-top: 3vw;
	display: flex;
}
.resource-content2 {
	display: none;
}
.resource-container {
	display: flex;
	width: 100%;
	margin: 1rem 0 0;
	justify-content: space-between;
	gap: 1rem;
}

.vid1 {
	display: flex;
	width: 25.53vw;
	aspect-ratio: 2/3;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 0.555vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.vid2 {
	display: flex;
	width: 25.53vw;
	aspect-ratio: 2/3;
	top: 6vw;
	left: 1.33vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 0.555vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.vid-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
	min-height: 100%;
	margin: 0 1rem 0 4.55vw;
}
.vid-content p {
	color: rgba(61, 61, 61, 0.95);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif', 'Helvetica Neue', sans-serif;
	font-size: clamp(1.5rem, 2vw, 2.375rem);
	font-style: normal;
	font-weight: 600;
	line-height: 118.421%;
	max-width: 100%;
	/* white-space: nowrap; */
}
.vid-content span {
	max-width: 90%;
	color: #3d3d3d;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif', 'Helvetica Neue', sans-serif;
	font-size: clamp(1.2rem,1.3vw,2rem);
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}

/* Accordion Section */
.accordion {
	display: flex;
	min-width: 80vw;
	padding: 8.88vw 5.55vw 0;
	justify-content: center;
	gap: 1.665vw;
	margin: 0 5.55vw 3.55vw;
}
button {
	color: #fff;
	text-decoration: none;
}

.p-menu1 {
	height: 100%;
}

.hamburger1 {
  height: 30px;
  margin: 4vw;
  display: none;
  grid-template-rows: repeat(3, 1fr);
  justify-items: flex-start ;
  z-index: 120;
	height: 30px;
	/* display: -ms-grid; */
	display: none;
	grid-template-rows: repeat(3, 1fr);
	justify-items: flex-end;
	z-index: 120;
	/* overflow: hidden; */
}

.hamburger1 div {
	background-color: rgb(61, 61, 61);
	position: relative;
	width: 60px;
	height: 5px;
	margin-top: 10px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-color: #B46BD1;
}

#toggle1 {
	display: none;
}
#toggleAccordion {
	display: none;
}

#toggle1:checked + .hamburger1 .top {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 9px;
}

#toggle1:checked + .hamburger1 .meat {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
	-webkit-transform: scale(0);
	transform: scale(0);
}

#toggle1:checked ~ .menu1 {
	height: auto;
}

#toggleAccordion:checked + .hamburger1 .top {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 10px;
}

#toggleAccordion:checked + .hamburger1 .meat {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: -3px;
}

#toggleAccordion:checked + .hamburger1 .bottom {
	-webkit-transform: scale(0);
	transform: scale(0);
}

#toggleAccordion:checked ~ .menu1 {
	height: auto;
}

.menu1 {
	width: 100%;
	background: url("/assets/faq-bg.jpg"), lightgray 50% / cover no-repeat;
	box-shadow: 0vw 0.125vw 0vw 0px rgba(0, 0, 0, 0.2);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	display: -ms-grid;
	display: grid;
	grid-template-rows: 1fr repeat(4, 0.5fr);
	grid-row-gap: 25px;
	padding: 0;
	list-style: none;
	min-width: 100%;
	text-align: center;
	height: 0px;
	overflow: hidden;
	transition: height 0.4s ease;
	z-index: 120;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.menu1 button:first-child {
	margin-top: 30px;
}

.menu1 button:last-child {
	margin-bottom: 40px;
}

.link1 {
	width: 100%;
	margin: 0;
	padding: 10px 0;
	font: 700 20px "Oswald", sans-serif;
}

.link1:hover {
	background-color: #fff;
	color: rgb(61, 61, 61);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.faq-heading {
	display: flex;
	min-height: 14.43vw;
	padding: 7vw 0 5.55vw 0;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	text-align: center;
	align-items: center;
	margin: 8.88vw 5.55vw 0;
}
.faq-heading span{
  color: #AD60C8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: clamp(2rem , 2.5vw , 30.125rem) !important;
  font-style: normal;
  font-weight: 700;
  line-height: 2vw; 
  text-transform: uppercase;
  margin-bottom: 0;
}
.faq-nav{
  display: flex;
  margin: 0 5vw 0;
  padding: 0.3vw 6.66vw;
  justify-content: space-around;
  color: #fff;
  align-items: center;
  gap: 1rem;
  background: url("/assets/faq-bg.jpg"), lightgray 50% / cover no-repeat;
  box-shadow: 0.125vw 0.125vw 0.9375vw 0px rgba(0, 0, 0, 0.20);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion-content{
  padding: 0;
  display: flex;
  flex-direction: column;
 max-width: 100%;
 font-size: clamp(0.8rem , 2vw , 1.2rem);
}
.item {
	display: flex;
	max-width: 100%;
	flex-direction: column;
	border-color: #fff;
	border-bottom: 0.0693vw solid #ad60c8;
}
.item p{
  color: #AD60C8;
  font-family: Raleway;
  font-size: clamp(0.9rem , 2vw , 1.2rem) !important;
  font-style: normal;
  font-weight: bold;
  line-height: 1.1;
}

/* faq-nav */
.btn-group {
	border-radius: 1.11vw;
	text-transform: capitalize;
}
.btn-group__item {
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: clamp(0.8rem, 1.5vw, 1.2rem);
	transition: all 300ms ease-out;
}
.btn-group__item:hover,
.btn-group__item:focus {
	color: #fff;
	box-shadow: inset 0 -1.3875vw 0 -1.2765vw #fff;
}
.btn-group__item:focus {
	outline: none;
}
.btn-group__item::after {
	content: "";
	display: inline-block;
	position: absolute;
	opacity: 0;
	transition: all 200ms ease-out;
}
.btn-group__item--active::after {
	opacity: 1;
}

.first {
	display: flex;
	justify-content: center;
}

.accordion-button:not(.collapsed) {
	color: #ffffff;
	background-color: #fff;
	box-shadow: inset 0 -0.069vw 0 rgb(0 0 0 / 13%);
}
.accordion-button.collapsed {
	color: #ffffff;
	background-color: #fff;
	box-shadow: inset 0 -0.069vw 0 rgb(0 0 0 / 13%);
}

/* courses */
.why-this-main {
	max-width: 100vw;
	min-height: 51vw;
	background: url("/assets/why-course-img.jpeg"), lightgray -136.636px -799.975px / 151.674% 232.87% no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.why-text {
	margin-left: 1.554vw;
	color: #faedff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.886vw;
	font-style: normal;
	font-weight: 600;
	line-height: 124%;
}

.why-cards {
	height: 22.2vw;
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 1fr;
	justify-content: center;
	margin: 8.88vw 8.88vw;
}
.why-image {
	background: url("/assets/why-course-women.png");
	position: absolute;
	width: 24.9vw;
	height: 31.567vw;
	flex-shrink: 0;
	background-position: center;
	background-size: cover;
	bottom: 0;
	right: -4.44vw;
}
.card-heading {
	color: #8833b6;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.332vw;
	font-style: normal;
	font-weight: 600;
	line-height: 136%; /* 1.7rem */
	letter-spacing: -0.02775vw;
	opacity: 0.8;
}
.card-para {
	color: rgba(40, 0, 52, 0.75);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.0545vw;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 1.75rem */
	letter-spacing: -0.0333vw;
}

/* Pricing */
.price-content {
	background: url("https://s3-alpha-sig.figma.com/img/8f55/e9ad/4117eff5e62b83d37a7a9028ebafd3f5?Expires=1699833600&Signature=nNG51Lfd1FGtGT9uiHPJjlvPkbwyHHu-gpLGsB2VjD~xSMrkusNprlPMl5hIxZ-L9D8kY3AfdTZ4Kgzy56fA71273xEKI2K0oQyY1cZFRi3Ju2u-M0sZqdlJ08mxpQGc3II6kuWDYZuivm-dgbMgNavP0m5EnNjyflIjMqnCfEDyeIqlfaTTFKXEbEzCgBZUv58WCR0aJEQgSBmjH8Pi9iZ44~1LEMNLvJXsOSR5LzjWjUJ~ViC4e4njvDrV46sFKiffBicyxGGJbQpFJPODNNMeSOuM~C85bivCdrqYrxHGQhjHYAtUAs7F4yWKeuQN4cqAahM3J2ChWp-Mjcw~og__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 35%;
	min-height: 100%;
	color: #fff;
	padding: 2.22vw;
}
.price-image {
	max-width: 60%;
	min-height: 100%;
	background: url("https://s3-alpha-sig.figma.com/img/3709/06d2/cc63ed449fd467d52712bb8f3f8eddc8?Expires=1699833600&Signature=blLnZ2NJk8Os1f9YHKlf91q8LHtA8uq1JdM24HYiyWmjx5o7VZAzgxq8abM13J6kakUBiZkKRkiw8YQp5w486MQ4NEN3zORm2qMoCH0Eq8VaNmae2kFKhzLgiQbbsTlkxVze2vHZXWMFjmAn34HUJnT7n14Cy-hTZXxpdBhw45DkwTMcVbcxeGVymCTphMuHG266TYg6tfmLQjimjyMm97~q2JVlzaECYe09DwvEkbaXuEmTqICgFi~JkKfKgOx5o21ZkKPmyf9fwWJ~MP0RpT4WeYZmwiSUBUF~fADkj6i5eazqXrHE1H3tgI8PzOU0tgOdMVxPUiUNUnTaAO457A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"),
		lightgray 50% / cover no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Curriculum */
.curr-bg {
	position: relative;
	margin: 4.44vw 0;
	padding: 5.55vw 6.66vw;
	max-width: 135.26vw;
	min-height: 45.51vw;
	flex-shrink: 0;
	background: linear-gradient(254deg, #6C0082 0.31%, #44006F 46.97%, #7A0089 114.38%);
}
/* .curr-image {
	background: url("/assets/curriculum-women.png");
	position: absolute;
	width: 60%;
	height: 70%;
	flex-shrink: 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	bottom: -2rem;
	right: -5.5rem;
} */
.text-grid {
	margin-top: 5.55vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 85%;
	gap: 3.33vw;
}
.text-content {
	color: rgba(255, 255, 255, 0.8);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.999vw;
	font-weight: 300;
	line-height: 1.665vw; /* 166.667% */
}
.text-content h5 {
	color: rgba(255, 255, 255, 0.85);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.332vw;
	font-style: normal;
	font-weight: 600;
	line-height: 1.665vw; /* 227.273% */
}
.howtolearn-id {
	color: rgba(180, 107, 209, 0.5);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.887vw;
	font-weight: 800;
	font-style: normal;
}
.howtolearn-content h6 {
	color: #b46bd1;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.11vw;
	font-style: normal;
	font-weight: 600;
}

.howtolearn-content p {
	color: #b46bd1;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.04vw;
	font-style: normal;
	font-weight: 400;
}

/* download syllabus form  */

.download-syll {
	width: 100vw;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.logo-section {
	max-width: 100%;
	min-height: 100%;
	background-image: url("/assets/signin-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem 0;
}
.form-text::placeholder,
.form-text::-webkit-input-placeholder {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: clamp(1rem , 1.3vw , 1.5rem);
	color: #B86CD2;
}
.form-section {
	max-width: 100%;
	min-height: 100%;
	background: #f8e8ff;
	box-shadow: 0.276vw 0.276vw 2.76vw 0.69vw rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-section p {
	color: #fff;
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	margin: 3.33vw;
}
.form-section .form-text {
	width: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: clamp(1rem, 2vw, 1.25rem);
	font-style: normal;
	font-weight: 600;
	line-height: 1.99vw;
	background-color: transparent;
	color: #b86cd2;
	border-radius: 0.3125rem;
	border-bottom: 1px solid #B86CD2;
	/* padding-top: 2.5vw; */
	height: 4rem;
	margin-top: 1.2rem;
}
.form-section label {
	color: #b86cd2;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: clamp(0.8rem, 1.5vw, 1rem);
	font-style: normal;
	font-weight: 600;
	line-height: 1.66vw;
}

/* article */
.small-nav {
	max-width: 100vw;
	display: flex;
	padding-top: 1.11vw;
	justify-content: center;
	align-items: center;
	background: url("/assets/subscribe-bg.jpg"), lightgray 50% / cover no-repeat;
	box-shadow: 0.138vw 0.138vw 1vw 0 rgba(0, 0, 0, 0.2);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: sticky;
}
.article-image {
	/* background: url("/assets/article-img.jpeg"); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	min-height: 44.4vw;
	flex-shrink: 0;
}
.avatar {
	border-radius: 50%;
	max-width: 3.33vw;
	min-height: 3.33vw;
	background: url("/assets/man1.jpg"),
		lightgray 50% / cover no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.article h5 {
	color: #686868;
	font-family: Raleway;
	font-size: 2vw;
	font-style: normal;
	font-weight: 700;
	line-height: 4.44vw;
}
.article p {
	color: #666;
	text-align: justify;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.11vw;
	font-style: normal;
	font-weight: 400;
	line-height: 1.887vw; /* 150% */
	letter-spacing: -0.022vw;
}
.phone .form-control {
	background-color: transparent !important;
	border: none !important;
	color: #b86cd2 !important;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
	font-size: 1.332vw !important;
	font-style: normal !important;
	font-weight: 600 !important;
	line-height: 1.66vw !important;
}
.phone .flag-dropdown {
	background-color: transparent !important;
	border: none !important;
}
.phone .flag-dropdown:hover {
	background-color: transparent !important;
}
.form-text option {
	color: #b86cd2;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.332vw;
	font-style: normal;
	font-weight: 600;
	line-height: 1.66vw;
}
.banner-section {
	background: linear-gradient(95deg, #9844C5 -2.26%, #6B288F 38.81%, #9740C6 162.14%);
	max-width: 100%;
	min-height: 28vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.signin-body {
	max-width: 100vw;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	overflow: hidden;
}
.signin-1 {
	background-image: url("/assets/signin-bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
}
.signin-image,
.signup-image {
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.signin-image {
	background-image: url("/assets/signin.svg");
}

.signup-image {
	background-image: url("/assets/signup.svg");
}
.signin-form-body {
	height: 90%;
	margin: 3rem;
}
.icon {
	border-radius: 0.4351rem;
	border: 0.5px solid #b46bd1;
	display: flex;
	padding: 0.5rem;
	justify-content: center;
	align-items: center;
	height: clamp(1.55rem, 1.11vw, 3rem);
	aspect-ratio: 2/2;
}

@media screen and (max-width: 500px) {
	.counter-line{
		min-height: 80px !important;
	}
	.download-syll {
		display: grid;
		grid-template-rows: 0.7fr 1fr !important;
		grid-template-columns: 1fr;
		height: 100% !important;
	  }
	
	  .logo-section,
	  .form-section {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.logo-img{
			width: 50% !important;
			aspect-ratio: 1/1;
		}
	  }
	
	  .form-section {
		height: 110%;
	  }
	
	  .form-head {
		text-align: center;
	  }
	.faq-nav {
		display: none;
	}
	.faq-heading {
		background: #fff;
		box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.12);
	}
	.course-container {
		display: flex;
		max-width: 100% !important;
		flex-direction: column;
		align-items: center;
	gap: 2rem;
	}
	.course-container .card {
		border-radius: 0.375rem !important;
		border: 0.6px solid #9844c5 !important;
		box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.12) !important;
	}
  .content span{
	font-weight: bold !important;
  }
	.card img {
		min-width: 100% !important;
		aspect-ratio: 6/3 !important;
	}
	.card-body {
		aspect-ratio: 6/3 !important;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		gap: 0.88rem;
		/* padding: 0.4rem 0.88rem; */
	}
	.card-title {
		margin-bottom: 0 !important;
		height: 3.5rem !important;
		font-size: clamp(0.99rem, 4vw, 1.5rem) !important;
	}
	.course-btn {
		width: 50% !important;
		aspect-ratio: 10/2.7;
		font-size: clamp(0.88rem, 4vw, 2rem) !important;
		border-radius: 0.3125rem;
		font-weight: 500;
	}
	.course-subtitle {
		font-size: clamp(0.88rem, 4vw, 1.4rem) !important;
	}
	.content-course {
		font-size: clamp(0.66rem, 4vw, 1rem) !important;
	}
	.course-data {
		font-size: clamp(0.11rem, 3vw, 1rem) !important;
		color: #b46bd1;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif', 'Helvetica Neue', sans-serif;
		font-style: normal;
		font-weight: 600;
	}
	.header-hamburger{
		padding-top: 2rem !important;
	}
	.landing-page{
		min-height: 20rem !important;
		padding-top: 3rem;
	}
	.heading > h2 {
		font-weight: 500 !important;
	}
	.landing-img {
		display: none;
	}
	.centered-text {
		max-width: 65vw !important;
	}
	.centered-text p {
		display: none;
	}
	.landing-page-content {
		justify-content: center !important;
		padding-left: 0 !important;
		/* margin-left: 0 !important; */
		margin: auto 0 !important;	
	}
	.inner-card{
		display: none !important;
	}
	.centered-text{
		max-width: 80vw !important;
		margin-left: 0 !important;
		justify-content: flex-start !important;
	}
	.buttons > .button {
		border-radius: 0.3125rem !important;
	}

	.first {
		display: none;
	}
	.carousel-body {
		display: flex;
		flex-direction: column;
		aspect-ratio: 3/1.8 !important;
		font-weight: 500 !important;
		max-width: 100vw !important;
		margin: 4.44vw 0 1.11vw !important;
	}
	#carousel-image {
		min-width: 20vw;
		aspect-ratio: 4/3 !important;
	}
	#carousel-content {
		font-size: clamp(1rem, 4vw, 2rem) !important;
	}
	#carousel-circle-btn {
		height: 2vw !important;
	}
	.header {
		aspect-ratio: 4/1;
	}
	.signup-main .button {
		display: none;
	}
	.footer-container {
		flex-direction: column;
	}
	.about-content {
		flex-direction: column !important;
		justify-content: space-between;
		width: 100vw;
	}
	.about-content > .v-line {
		display: none;
	}
	.about {
		width: 100% !important;
		aspect-ratio: 1/1.2 !important;
		max-height: auto !important;
	}
	.about-content p {
		font-size: clamp(0.66rem, 3.5vw, 2rem) !important;
		line-height: 1.2 !important;
	}
	.resource-content2 {
		display: block;
	}
	.resource-content1 {
		display: none;
	}
.bar{
	min-width: 100% !important;
}
.bar >li{
	font-size: clamp(1rem , 1vw , 1.4rem) !important;
}
.course-detail{
	grid-template-columns: 1fr !important;
	grid-template-rows: 2fr 1fr 2fr 1fr 2fr !important;
	.v-line{
		display: none;
	}
	.h-line{
		display: block !important;
	}
	
}
.small-nav{
	display: none !important;
}
.content-details{
	width: 100% !important;
	margin: 1rem 0 0 !important;
}

}

@media screen and (max-width: 768px) {
	.navbar-logo{
		margin-right: 0 !important;
		padding-right: 0 !important;
	}
	.design {
		display: none;
	}
	.card-contain{
		grid-template-columns: repeat(2,1fr) !important;
		width: 100% !important;
		gap: 1rem !important;
		row-gap: 2rem !important;
		margin-top: 2rem !important;
	}
	
	.enrolling{
		grid-template-columns: 1fr !important;
		justify-content: center !important;
		align-items: center !important;
	}
	.enrolling-process{
		display: none;
	}
	.how-you-learn{
		grid-template-columns: repeat(2,1fr) !important;
	}
	.why-cards{
		grid-template-columns: repeat(2,1fr) !important;
	}
	.why-this-main{
		min-height: 80vw;
	}
	.card-para{
		font-size: clamp(0.6rem , 2vw , 1.3rem) !important;
	}
	.card-heading{
		font-size: clamp(0.8rem , 2.5vw , 1.5rem) !important;
	}
	.content-container {
		padding: 5%;
	  }
	
	  .content-container h1 {
		font-size: 2.2rem;
	  }
	
	  .content-container h2 {
		font-size: 1.8rem;
	  }
	
	  .content-container h3 {
		font-size: 1.6rem;
	  }
	
	  .content-container h4 {
		font-size: 1.4rem;
	  }
	
	  .content-container h5 {
		font-size: 1.2rem;
	  }
	
	  .content-container h6 {
		font-size: 1rem;
	  }
	
	  .content-container p {
		font-size: 1rem;
	  }
	.hamburger1{
	display: grid;	
}
.university-logo img{
	max-width: 50% !important;
}

	.signin-body {
		grid-template-columns: 1fr;
	}

	.signin-1 {
		grid-template-rows: 1fr auto 1fr;
	}

	.signin-image,
	.signup-image {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	}

	.signin-form-body {
		margin: 1rem;
	}
	.signup-body {
		grid-template-columns: 1fr;
	}

	.signup-1 {
		grid-template-rows: 1fr auto 1fr;
	}

	.signin-image,
	.signup-image {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	}

	.signup-form-body {
		margin: 1rem;
	}
	.buttons-signup {
		display: flex !important;
		justify-content: center !important;
		flex-direction: row !important;
		margin-top: 3rem;
	  }
	
  .footer-img{
    display: none;
  }
  .nav-item{
	display: none;
  }
  .teacher-btn{
	justify-content: flex-start !important;
	margin-left: 0 !important;
  }
  .main-card--container{
    display: grid !important;
	grid-template-columns: 1fr 1fr !important;
	gap: 5vw !important;
	column-gap: 0;
	justify-content: center !important;
	margin: 6.66vw auto !important;
  }
  .counter-number{
    font-size: 5vw !important;
  }
  .card-emp{
	width: 100%;
	height: auto;
	aspect-ratio: 2/3;
  }
  .hidden-content{
    font-size: 3.3vw !important;
    margin: 0;
  }
  .icon-container {
    min-height: 1rem !important;
	display: flex !important;
	align-items: stretch;
	width: 100% !important;
	justify-content: flex-start !important;
	gap: 0.8rem;
  }
  .Subscribe-main{
    display: flex !important;
    padding: auto !important;
	height: 25vw;
  }
  .subscribe-content{
	width: 70% !important;
	margin: 0 auto;
  }
  .subscribe-content p{
    font-size: 3.33vw !important;
    padding: 0 0 0.777vw 0;
  }
  .input-email,
  .input-email::placeholder{
    font-size: 2vw !important;
  }
  .subscribe button{
    font-size: 2.33vw !important ;
    border-radius: 0 0.333vw 0.333vw 0 !important;
    max-width: 20% !important;
  }
  .subscribe{
    /* min-width: 80vw !important; */
    border-radius: 0.333vw 0 0 0.333vw !important;
    overflow: hidden;
    min-height: 5.88vw !important;
  }
  .footer-img img{
    display: none;
  }
  .heading >.h-line{
    display: none !important;
  }
  .heading > .dot{
    display: none;
  }
  .heading .content{
    left: 0 !important;
    max-width: 50vw !important;
    font-size: clamp(0.66rem , 4vw , 1rem) !important;
    margin-bottom: 0 !important;
  }
  .heading .content > p{
    display: none;
  }
  .section1-main{
	background: linear-gradient(to bottom right, rgb(40, 11, 50), rgb(161, 81, 187)) !important;
	min-width: 100% !important;
}
.section1-main .second{
	background: transparent !important;
	width: 100% !important;
	margin-top: 1rem !important;
}
.bar >li{
	font-size: clamp(1.2rem , 2vw , 1.5rem);
}
.section1-main2{
	display: flex !important;
	flex-direction: column;
	width: 100% !important;
	margin-top: 2rem !important;
	.first{
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		.first-para h4,p{
			color: #fff !important;
			font-size: clamp(0.7rem , 2vw , 1rem);
		}
		.first-content{
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		.first-content2{
			display: flex;
			flex-direction: column-reverse;
			gap: 1rem;
		}
		.first-img1 , .first-img2{
			aspect-ratio: 2/3 !important;
		}
	}
}
.heading-all{
	background: transparent !important;
}
.subscribe-logo{
	display: none;
}
}
@media screen and (min-width: 768px) {
	.home-banner {
		display: none;
	}
	.tutorials{
		flex-direction: row !important;
	}

	.first {
		max-width: 100%;
	}
	.btn {
		min-height: fit-content;
		max-width: fit-content;
		font-size: 1.11vw;
	}
}

@media screen and (min-width: 500px) {
	.signup-vector {
		display: none !important;
	}
	.contact-vector {
		display: none !important;
	}
}

@media screen and (max-width: 1024px) {
	/* .header-hamburger{
		display: block;
	} */
	.navbar-nav{
		display: flex;
		flex-direction: row !important;
	}
  footer {
    padding: 6vw !important;
  }
  .course-container .card{
	max-width: 100% !important;
	overflow: hidden;
  }

	footer .footer-main {
		margin-bottom: 0 !important;
	}

	footer img {
		display: none !important;
	}

	footer .left-container {
		width: 30% !important;
	}

	footer .right-container {
		width: 70% !important;
	}
	.menu1 {
		top: 70px !important;
	}
}

footer .right-container ul {
	margin-top: 1.5rem;
	list-style: none;
	padding: 0;
}

footer .right-container ul li {
	margin-top: 7px;
	color: black;
	text-decoration: none;
}

footer .right-container ul li a {
	color: black;
	text-decoration: none;
}

@media screen and (max-width: 700px) {
	footer {
		padding: 0 !important;
	}

	footer .footer-main {
		flex-direction: column-reverse !important;
		width: 100% !important;
		gap: 0 !important;
		background-color: #f6f6f1;
	}

	footer .left-container {
		width: 100% !important;
		border: none !important;
		padding: 12vw !important;
	}

	footer .left-container p {
		font-size: medium !important;
	}

	footer .right-container {
		display: grid !important;
		grid-template-columns: repeat(2, 1fr) !important;
		justify-content: center !important;
		padding: 12vw !important;
		width: 100% !important;
		border-bottom: 3px solid #9321aa !important;
		gap: 12vw !important;
	}

	footer .right-container h5 {
		font-size: larger !important;
	}

	footer .right-container ul {
		margin-top: 15px !important;
	}

	footer .right-container ul li {
		margin-top: 5px !important;
	}
}
