@import "/node_modules/@fontsource/raleway/300.css";
@import "/node_modules/@fontsource/open-sans/300.css";
@import "/node_modules/@fontsource/inter/600.css";

body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-item.active img{
  rotate: 180deg;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  width: 25.5rem;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 1px solid #B46BD1;
  background: #FFF;
  box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.1);
  background-size: cover;
}
.card img{
  width: 31rem;
  height: 20rem;
  flex-shrink: 0;
  border-radius: 1.1875rem 1.1875rem 0rem 0rem;
  transform: translateX(-4rem);
}
.course-content{
  color: #B46BD1;
  font-family: Open Sans;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 1.38125rem */
}
.purple-btn{
  display: flex;
  width: 100%;
  font-family: Raleway;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /*1.2375rem */
  margin: 3rem 0 1rem;
  padding: 1rem 1.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.5625rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #B46BD1;
  color: #fff;
}
.purple-btn:hover{
  cursor: pointer;
}

/* .about-first{
  background: url("/assets/about_hero_bg.jpg"), lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 38rem;
  position: relative;
  display: flex;
  justify-content: center;
} */

.about-first h3{
  width: 70%;
  color: #FFF;
  font-family: Raleway;
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
}

.about-first2{
  position: absolute;
  bottom: 1rem;
  left: 5rem;
  background: #FFF;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.about-content{
  width: 90%;
  height: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.about-content h3{
color: #AD60C8;
text-align: start;
font-family: Raleway;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 60px;
letter-spacing: -0.72px;
}

#button{
  color: #B86CD2;
  text-align: center;
  flex-shrink: 0;
  padding: 0.625rem ;
  background-color: #fff;
}

#button:hover{
  background-color: #B86CD2;
  color: #fff;
}

 .btn{
    border-radius: 0.75rem;
    border: 1.5px solid #FFF;
    color:#fff;
    width: 12rem;
    height: 3.65rem;
    flex-shrink: 0;
    gap: 0.625rem;
    font-family:Raleway;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 549;
    line-height: 2.5rem;
    text-align:center;
}
.btn:hover{
  background-color: #FFF;
  color: #AD60C8;
}

.part1{
  width: 100%;
  height: 100%;
  color: #2E2E2E;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  letter-spacing: -0.36px;
}
.v-line{
  width: 1px;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0px 2rem;
}

.h-line{
  width: 30%;
  height: 1.6px;
  background: #B570CD;
}
.dot{
  background-image: url("/assets/dot.png");
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.part2{
  width: 100%;
  height: 100%;
  color: #2E2E2E;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  letter-spacing: -0.36px;
  padding: 0;
}
.counter{
  margin-top: 4.3rem;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: auto;
  background: #FFF;
  box-shadow: 1px 1px 15px 1.5px rgba(0, 0, 0, 0.15);
}

.counter-heading{
  /* margin-top: 4.3rem; */
  padding: 0.5rem 0;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  background: url("/assets/counter-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.20);
}

.section1-main{
  width: 100vw;
  margin-top: 8.5rem;
}
.section1-main2{
  width: 100%;
  height: 88vh;
  margin: 6rem 0 0 0;
  display: flex;
  justify-content:flex-end;
}

.section1-main2 .first{
  width: 42%;
  height: 100%;
}

.section1-main2 .second{
  width: 58%;
  height: 92%;
  background-image: linear-gradient(to bottom right , rgb(40, 11, 50),rgb(161, 81, 187));
  border-radius:8px 0px 0px 0px;
}

.first{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.first-para{
  position: absolute;
  color: #AD60C8;
  text-align: center;
  line-height: 40px;
}

.first-para h4{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 0.5;
  font-family: Open Sans;
  font-style: normal;
}

.first-para p{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  font-family: Open Sans;
  letter-spacing: 0.4px;
}

.first-img1{
  width: 15.4rem;
  height: 60%;
  border-radius: 4px;
  background: url("/assets/man1.jpg") , lightgray 50% / cover no-repeat;
  position: absolute;
  top: 2.5rem;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.first-img2{
  width: 15.4rem;
  height: 60%;
  background: url("/assets/women1.jpg") , lightgray 50% / cover no-repeat;
  position: absolute;
  right: -4.2rem;
  bottom: 0;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bar{
  list-style: none;
  width: 70%;
  color: #FFF;
}
.bar li {
  color: aliceblue;
  border-left: 1px solid white;
  position: relative;
  padding: 0 50px;
  padding-bottom: 4rem;
}

.bar li:last-child {
  padding-bottom: 0;
}

.bar li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  translate: -50% 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(181, 112, 205, 1);
  border: 3px solid white;
}
.main-card--container {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 500px));
  grid-gap: 40px 0;
  justify-content: space-around;
  margin: 6rem auto;
}
.card-emp{
  position: relative;
}
.card-emp-content{
  width: fit-content;
  color: #fff;
  display: block;
  text-align: center;
  padding: 0 10px 0 10px;
  background: #B86CD2;
}

.Subscribe-main{
  width: 100vw;
  margin:8.56rem 0 0 0;
  height: 47vh;
  flex-shrink: 0;
  background: url("/assets/subscribe-bg.jpg"), lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
}
.Subscribe-main h3{
  color: #fff;
  font-size: 1.7rem;
  position: absolute;
  bottom: 34%;
  left: 12%;
  font-weight: 500;
  line-height: 3.75rem; /* 187.5% */
}
.Subscribe-main p{
  color: #FFF;
  position: absolute;
  left: 43%;
  top: 25%;
  font-size: 1.8rem;
  line-height: 3.75rem; /* 187.5% */
}
.subscribe{
  display: flex;
  width: 40vw;
  height: 3.5rem;
  position: absolute;
  left: 43%;
  top: 45%;
  border-radius: 10px;
}
.email{
  width: 70%;
  background-color: #fff;
  color: rgba(26, 26, 26, 0.85);
  font-size: 1rem;
  line-height: normal;
  letter-spacing: -0.025rem;
}
.subscribe button{
  width: 30%;
  background-color: #AD60C8;
  border: none;
  color: #FFF;
  font-size: 1.1rem;
  font-weight: 500;
}

.card-emp {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

.hidden-content {
  background-color: #B86CD2;
  text-align: start;
  padding: 3rem 1.2rem;
  height: 100%;
  color: #ffff;
  position: absolute;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out; 
  top: 100%;
}
.card-emp:hover .hidden-content {
  top: 0;
  transition: all 0.5s ease-in-out;
}

.icon-container svg {
  fill: white;
  height: 100%;
}

.icon-container {
  display: flex;
  gap: 0.7rem;
  height: 1.1rem;
}

/* Home-Resource Section */
.resource-page{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 10rem 4rem 10rem 5.5rem;
}
.resource-content{
  position: relative;
  width: 100%;
  margin-top: 10rem;
  display: flex;
  margin-right: 2rem;
}

.vid1{
  display: flex;
  width: 23rem;
  height: 33rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: url("/assets/vid1.jpg"), 50% / cover no-repeat, #623434;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vid2{
  display: flex;
  width: 23rem;
  height: 33rem;
  position: relative;
  top: 5.5rem;
  left: 1.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: url("/assets/vid2.jpg"), 50% / cover no-repeat, #623434;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vid-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 38rem;
  margin-left: 5rem;
}
.vid-content h4{
  color: rgba(61, 61, 61, 0.95);
  font-family: Open Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8125rem; /* 118.421% */
  width: 37.875rem;
}
.vid-content p{
  width: 30rem;
  color: #3D3D3D;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 160% */
}

/* Testimonies Section */



/* Accordion Section */
.accordion{
  display: flex;
  /* width: 110rem; */
  padding: 8rem 5rem 0;
  justify-content: center;
  gap: 1.5rem;
  margin:0 5rem 5rem;  
}
.faq-heading{
  display: flex;
  /* width: 110rem; */
  height: 13rem;
  padding: 6.4375rem 0rem 5rem 0rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  align-items: center;
  margin: 8rem 5rem 0;
}
.faq-heading h4{
  color: #AD60C8;
  font-family: Open Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.875rem; /* 60% */
  text-transform: uppercase;
}
.faq-nav{
  display: flex;
  /* width: 110rem; */
  margin: 0rem 4.5rem 0;
  padding: 0.8rem 6rem;
  justify-content: space-around;
  color: #fff;
  align-items: center;
  gap: 1rem;
  background: url("/assets/faq-bg.jpg"), lightgray 50% / cover no-repeat;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.20);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion-content{
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item{
  display: flex;
  width: 100%;
  flex-direction: column;
  border-color: #fff;
  border-bottom: 0.0625rem solid #AD60C8;
}
.item p{
  color: #AD60C8;
  font-family: Raleway;
  font-size: 1.05rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.4rem;
}

/* faq-nav */
.btn-group {
  border-radius: 1rem;
  text-transform: capitalize;
}
.btn-group__item {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 17px;
  transition: all 300ms ease-out;
}
.btn-group__item:hover,
.btn-group__item:focus {
  color: #fff;
  box-shadow: inset 0px -20px 0px -18.5px #fff;
}
.btn-group__item:focus {
  outline: none;
}
.btn-group__item:after {
  content: "";
  display: inline-block;
  position: absolute;
  opacity: 0;
  transition: all 200ms ease-out;
}
.btn-group__item--active:after {
  opacity: 1;
}

.first{
  display: flex;
  justify-content: center;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button.collapsed {
  color: #ffffff;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

/* courses */
.why-this-main{
  width: 100vw;
  height: 46rem;
  background: url("https://s3-alpha-sig.figma.com/img/2d90/e3b5/291f19051b6c4bdd64c845e2e9bf06e3?Expires=1699833600&Signature=RP3UgOZnrboJUbXr5Tmvi66ETcB15GmQfwZdaayR8D~ZsjL-NRkAG6wbubznm~x-iJC1gARWt7hccqBIXaYW~x55nBnBX3-Igy0kDJ2uMot4Nl~dLPm5WqHGbaWaGoCcdjYA6O5xy~Gsln7HrqxI3xO1DJ6ZpYtRUciLhIq3bxTqeneiXwfksJe~OwQh~ZqCH-mamSdL~lpQY9cYUBQR9LOKn3zRl6NFw8CUTDivF3-XWflFI9M0ac1Ad1YAPXY1UidtLEqIo6KcOevhZ5xz5PctRvvljlUgot-iu4r5NgyI7pVHHCcpAmb5kdfPm~fXD3noq4c5KlyLMAYND09i7A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray -136.636px -799.975px / 151.674% 232.87% no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.why-text{
  margin-left: 1.4rem;
  color: #FAEDFF;
  font-family: Open Sans;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 124%;
}

.why-cards{
  position: relative;
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(3,27%);
  justify-content: center;
  margin: 8rem 8rem;
}
.why-image{
  background: url("https://s3-alpha-sig.figma.com/img/752c/7bb5/d97954c848db9e7bfbd9072d4e059c2a?Expires=1699833600&Signature=MLkKGKkXu2utR3gHqsE~mhGvmPTxE9Jlxjlfr-ImMTtH~2zsbnfGZW3GN-56s0ENNZIGOYaG-u04~c3ciWkuwVKnRxcd2kNU4ruZlkngi1N0zGXUtsN9xTNv~jfjZM8RaXeOUdL3n5ahZe2O1RpTprq6qryJjBHzMoAlEgePm4XkqbUxW6~nX4K8oVhWEUkG~rRE~fCJGqes8D0YjLf6Wn5fTK7jRhLqxwIp~SDaifR4RGHP4tPEjctCV1XkkoOIEFUqyJ1i2LMkdKiBHOuDUtssIR4rvHiEYYFRWjiJbnDnf5ZfT4Fj0ZfrrWK8yruqDf6NPzGbJ~zLrqr1HHBeYw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), transparent -122.16px -54.899px / 176.214% 139.167% no-repeat;
  position: absolute;
  width: 22.4375rem;
  height: 28.4375rem;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  bottom: -6.5rem;
  right: -4rem;
}
.card-heading{
  color: #8833B6;
  font-family: Open Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 136%; /* 1.7rem */
  letter-spacing: -0.025rem;
  opacity: 0.8;
}
.card-para{
  color: rgba(40, 0, 52, 0.75);
  font-family: Open Sans;
  font-size: 0.95rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 1.75rem */
  letter-spacing: -0.03rem;
}

/* Pricing */
.price-content{
  background: url("https://s3-alpha-sig.figma.com/img/8f55/e9ad/4117eff5e62b83d37a7a9028ebafd3f5?Expires=1699833600&Signature=nNG51Lfd1FGtGT9uiHPJjlvPkbwyHHu-gpLGsB2VjD~xSMrkusNprlPMl5hIxZ-L9D8kY3AfdTZ4Kgzy56fA71273xEKI2K0oQyY1cZFRi3Ju2u-M0sZqdlJ08mxpQGc3II6kuWDYZuivm-dgbMgNavP0m5EnNjyflIjMqnCfEDyeIqlfaTTFKXEbEzCgBZUv58WCR0aJEQgSBmjH8Pi9iZ44~1LEMNLvJXsOSR5LzjWjUJ~ViC4e4njvDrV46sFKiffBicyxGGJbQpFJPODNNMeSOuM~C85bivCdrqYrxHGQhjHYAtUAs7F4yWKeuQN4cqAahM3J2ChWp-Mjcw~og__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 35%;
  height: 100%;
  color: #fff;
  padding: 2rem;
}
.price-image{
  width: 60%;
  height: 100%;
  background: url("https://s3-alpha-sig.figma.com/img/3709/06d2/cc63ed449fd467d52712bb8f3f8eddc8?Expires=1699833600&Signature=blLnZ2NJk8Os1f9YHKlf91q8LHtA8uq1JdM24HYiyWmjx5o7VZAzgxq8abM13J6kakUBiZkKRkiw8YQp5w486MQ4NEN3zORm2qMoCH0Eq8VaNmae2kFKhzLgiQbbsTlkxVze2vHZXWMFjmAn34HUJnT7n14Cy-hTZXxpdBhw45DkwTMcVbcxeGVymCTphMuHG266TYg6tfmLQjimjyMm97~q2JVlzaECYe09DwvEkbaXuEmTqICgFi~JkKfKgOx5o21ZkKPmyf9fwWJ~MP0RpT4WeYZmwiSUBUF~fADkj6i5eazqXrHE1H3tgI8PzOU0tgOdMVxPUiUNUnTaAO457A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Curriculum */
.curr-bg{
  position: relative;
  margin: 4rem 0;
  padding:5rem 6rem ;
  width: 121.875rem;
  height: 41rem;
  flex-shrink: 0;
  background: linear-gradient(254deg, #6C0082 0.31%, #44006F 46.97%, #7A0089 114.38%);
}
.curr-image{
  background: url("https://s3-alpha-sig.figma.com/img/f3fa/957b/9a25d6d47345f5aef415b4d1bd915d09?Expires=1699833600&Signature=k-AJ7ufR1uTQWTgzwNMcG8V92q1sBc1kDh~PwTEZXbOqKydGsjYJf7K0cw9rmwWQeqDWC2KtPQLtKVFc5xzZBNwBoTR4modwLI3Y0rshn5B3ilyU12kNHZKYumOwFE4bskPgq9R7wio7Mi19loy~FnIybuP0t0At9PgBbHz06nuxfpVBD6WKRx~xvZ3RVtdPVmcFJ7yEexHkIM2LKLC5U9nXYiZQiMOj6rstGYDVdK190GMUQLPTksy8n5Hr0JPaZhmuhDm83FvUWNU3ow7GP5N7da6JGXoSuuVPEbr6lcnVUfzpJxy-~yrv9ntJmZLjUN~Qh0lWi7UQnCRj1LnCUA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), transparent -122.16px -54.899px / 176.214% 139.167% no-repeat;
  position: absolute;
  width: 37rem;
  height: 80%;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  bottom: 0;
  right: 15.4%;
}
.text-grid{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3,auto);
  width: 60%;
  gap: 3rem;
}
.text-content{
  color: rgba(255, 255, 255, 0.80);
  font-family: Open Sans;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5rem; /* 166.667% */
}
.text-content h5{
  color: rgba(255, 255, 255, 0.85);
  font-family: Open Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 227.273% */
}
.howtolearn-id{
  color: rgba(180, 107, 209, 0.50);
  font-family: Open Sans;
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 3.75rem;
  font-style: normal;
}
.howtolearn-content h6{
  color: #B46BD1;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  /* line-height: 3.75rem; */
}

.howtolearn-content p{
  color: #B46BD1;
  font-family: Open Sans;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  /* line-height: 3.75rem;  */
}

/* download syllabus form  */
.download-syll{
  width: 100vw;
  height: 100vh;
  display: flex;
}
.logo-section{
  width: 30%;
  height: 100%;
  background: url("https://s3-alpha-sig.figma.com/img/8f55/e9ad/4117eff5e62b83d37a7a9028ebafd3f5?Expires=1699833600&Signature=nNG51Lfd1FGtGT9uiHPJjlvPkbwyHHu-gpLGsB2VjD~xSMrkusNprlPMl5hIxZ-L9D8kY3AfdTZ4Kgzy56fA71273xEKI2K0oQyY1cZFRi3Ju2u-M0sZqdlJ08mxpQGc3II6kuWDYZuivm-dgbMgNavP0m5EnNjyflIjMqnCfEDyeIqlfaTTFKXEbEzCgBZUv58WCR0aJEQgSBmjH8Pi9iZ44~1LEMNLvJXsOSR5LzjWjUJ~ViC4e4njvDrV46sFKiffBicyxGGJbQpFJPODNNMeSOuM~C85bivCdrqYrxHGQhjHYAtUAs7F4yWKeuQN4cqAahM3J2ChWp-Mjcw~og__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-section{
  width: 70%;
  height: 100%;
  background: #F8E8FF;
  box-shadow: 4px 4px 40px 10px rgba(0, 0, 0, 0.20);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-section p{
  color: #FFF;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 3rem;
}
.form-section .form-text{
  width: 100%;
  font-family: Open Sans;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.49513rem;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #AD60C8;
}
::placeholder{
  color:#B86CD2;
  font-family: Open Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.49513rem; /* 150% */
}

/* article */
.small-nav{
  width: 100%;
  display: flex;
  padding-top: 1rem;
  /* padding: 1.5625rem 5.8125rem; */
  justify-content: center;
  align-items: center;
  /* gap: 6.875rem; */
  background: url("https://s3-alpha-sig.figma.com/img/954b/f585/bbb62c4bf11b391b5a590a5c7f62e819?Expires=1699833600&Signature=dN-zOccOlLGm7wipVXI6fHT2X5g-cM1Wv1MacMCswK0sa2NLDy8te2Gkl69RQa-sco2Xurb8XzQZ0bgNr0GCBHH2IzzH8Fzk0wHs-NJx6ALz2rh0VEM2aW59XvNbro4QVcwk3OsI34ZJFOuqysObrbM1pLuFL0EZ7Y-qXuu9q4FzgncUUevy8DWSruabwCjlCnMDoufzwwr9cSM9dtxNTGIsTnWabT8Fo6Yw~s3ad~FTdFNNmzaaawUnnX0xyoNhzrnpnM9t1e9D60M5PSknRnZ7cGrGMkyl1MCTOoQeNZC4puGByQ9~ElwC7jeQgYrG4lxD4wPnO5aIYjhX~VNEcQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.20);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
}
.article-image{
  background: url("/assets/article-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40rem;
  flex-shrink: 0;
}
.avatar{
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background: url("https://s3-alpha-sig.figma.com/img/2327/78cf/fe933eacc50f758052621a0d808187c6?Expires=1699833600&Signature=Kyx~SP1qo-URdKtf0yOBbWst9Euhf2bk0vX6nPjiYhLXeNDg9bl2iHPFW7fOrw9RusmHnnb9oP0S5XsAPPKZcd0rIXM24mdKcX6O593O3KRdS39s0nPS7HmbUbCH~k7Sj7f1dYcsiDDck2SMPtA6nsU5lyE2pUigoxjx9fJ01ny-TQ6ElL0ruc7cP4OAONxNiYXauLupF~2t7~fXRWXehifxruzU0F7Nbq1jnwlwBti-58N54PAOSRZsBN7BOV27EOgkWqNiNinZ3Hf7b8GvRC2dUuYBI6Onj5WyM69AXfY5N1mMEwJRJrZDS7UkMI3cnLN9xIdWFn5InAqCu6-48w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.article h5{
  color: #686868;
  font-family: Raleway;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
}
.article p{
  color: #666;
  text-align: justify;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem; /* 150% */
  letter-spacing: -0.02rem;
}
.phone .form-control{
  background-color: transparent !important;
  border: none !important;
  color: #B86CD2 !important;
  font-family: Open Sans !important;
  font-size: 1.2rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 1.49513rem !important; 
}
.phone .flag-dropdown{
  background-color: transparent !important;
  border: none !important;
}
.phone .flag-dropdown:hover{
  background-color: transparent !important;
}
.form-text option{
  color:#B86CD2;
  font-family: Open Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.49513rem; /* 150% */
}