.btn {
	position: fixed;
	bottom: 28.82px;
	right: 28.82px;
	z-index: 9999;
	border-radius: 50%;
	border: none;
	background-color: #a056c3;
	-webkit-box-shadow: 0 0 0.69vw rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 0.69vw rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	min-height: clamp(30px, 4vw, 60px);
	min-width: clamp(30px, 4vw, 60px);
	/* margin: 0.33rem; */
}

.btn:hover {
	scale: 1.05;
	-webkit-box-shadow: 0 0 0.69vw rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 0.69vw rgba(0, 0, 0, 0.4);
}

.btn:active {
	scale: 0.8;
	-webkit-box-shadow: 0 0 0.69vw rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 0.69vw rgba(0, 0, 0, 0.2);
}

.btn div {
	display: block;
	margin: auto;
	height: 1.56rem;
	cursor: pointer;
	background-image: url("/assets/chat-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.active .btn div {
	background-image: url("/assets/close-icon.svg");
}

.collapsableContainer {
	position: fixed;
	bottom: 3.6rem;
	right: 2vw;
	opacity: 0;
	z-index: 998;
	width: 0;
	aspect-ratio: 3 / 4;
	overflow: hidden;
	-webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
	-o-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
	transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
	border-radius: 1vw;
	border: 1px solid #b86cd2;
	z-index: -100;
}

.active .collapsableContainer {
	opacity: 1;
	width: clamp(250px, 50vw, 378px);
	-webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
	-o-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
	transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
	bottom: 5.77rem;
	z-index: 999;
}

.chatbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: white;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.chat::-webkit-scrollbar {
	display: none;
}

.heading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: min(1vw, 1rem) min(1.3rem, 2vw);
	gap: 1rem;
	font-family: Raleway;
	font-weight: 500;
	background-color: #b46bd1;
	color: white;
}

.heading :first-child {
	position: relative;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	border: 1.4px solid white;
	background: url("/assets/bot-image.png");
	background-size: cover;
	background-position: center;
}

.heading :first-child::before {
	content: "";
	width: 10px;
	height: 10px;
	border: 1.5px solid white;
	border-radius: 50%;
	background-color: #4caf50;
	position: absolute;
	color: aqua;
	right: 0;
	bottom: 0;
	z-index: 1000;
}

.chat {
	height: 100%;
	width: 100%;
	padding: min(1vw, 1rem) min(1.3rem, 2vw);
	overflow-y: auto;
}

.chat > * {
	border-radius: 5.238px;
	overflow: hidden;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	margin: 1vw 0;
	font-size: clamp(0.66rem, 1.11vw, 1rem);
	padding: 0.54rem 0.63rem;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin-right: auto;
	border: none;
}

.chat > :first-child {
	border-radius: 0 5.238px 5.238px 5.238px;
}

.chat .bot {
	color: #000;
	background-color: #f7e1ff;
}

.chat select {
	display: block;
	width: 100%;
	margin: 0.5vw auto;
	font-size: clamp(0.66rem, 1vw, 1.3rem);
	background-color: #fbedff;
	padding: 0.45rem 0.63rem;
	border-radius: 5px;
}

.option {
	color: #000;
	display: block;
	border: 0.069vw solid #b86cd2;
	background-color: transparent;
}

.chat .user {
	margin-right: 0;
	margin-left: auto;
	background-color: #f1f1f1;
	color: black;
}

.inputBox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: min(1vw, 1rem) min(1.5rem, 2vw);
	-webkit-box-shadow: 0.873px 0.873px 6.547px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0.873px 0.873px 6.547px 0px rgba(0, 0, 0, 0.15);
}

.inputBox input {
	width: 100%;
	padding: 0.5rem 1rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: none;
	border-radius: 4px;
	background: #f7e1ff;
	cursor: not-allowed;
	color: #000;
	font-weight: 500;
	font-family: Raleway;
	font-size: clamp(0.66rem, 1vw, 1.3rem);
}

.inputBox input::-webkit-input-placeholder {
	color: #000;
	font-weight: 500;
	font-family: Raleway;
	font-size: clamp(0.66rem, 1vw, 1.3rem);
}

.inputBox input::-moz-placeholder {
	color: #000;
	font-weight: 500;
	font-family: Raleway;
	font-size: clamp(0.66rem, 1vw, 1.3rem);
}

.inputBox input:-ms-input-placeholder {
	color: #000;
	font-weight: 500;
	font-family: Raleway;
	font-size: clamp(0.66rem, 1vw, 1.3rem);
}

.inputBox input::placeholder {
	color: #000;
	font-weight: 500;
	font-family: Raleway;
	font-size: clamp(0.66rem, 1vw, 1.3rem);
}

.inputBox input:focus {
	outline: none;
}

.inputBox button {
	background: none;
	border: none;
	border-radius: 0.555vw;
	padding: min(0.5rem, 0.55vw) min(0.6rem, 1.11vw);
	margin-left: 1.11vw;
}
