.btn {
	position: fixed;
	bottom: 2vw;
	right: 2vw;
	z-index: 9999;
	border-radius: 50%;
	border: none;
	background-color: #A056C3;
	box-shadow: 0 0 0.69vw rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
	height: 60px;
	width: 60px;
}

.btn:hover {
	scale: 1.05;
	box-shadow: 0 0 0.69vw rgba(0, 0, 0, 0.4);
}

.btn:active {
	scale: 0.8;
	box-shadow: 0 0 0.69vw rgba(0, 0, 0, 0.2);
}

.btn div {
	display: block;
	margin: auto;
	height: 25px;
	cursor: pointer;
	background-image: url("/assets/chat-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 0.1s ease-in-out;
}

.active .btn div {
	background-image: url("/assets/close-icon.svg");
}

.collapsableContainer {
	position: fixed;
	bottom: 4.5vw;
	right: 2vw;
	opacity: 0;
	z-index: 998;
	/* box-shadow: 0 0 0.69vw rgba(0, 0, 0, 0.2); */
	width: clamp(250px, 40vw, 378px);
	aspect-ratio: 3 / 4;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	border-radius: 1vw;
	border: 1px solid #b86cd2;
}

.active .collapsableContainer {
	opacity: 1;
	bottom: 100px;
}

.chatbox {
	display: flex;
	flex-direction: column;
	background-color: white;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.chat::-webkit-scrollbar {
	display: none;
}

.heading {
	display: flex;
	align-items: center;
	padding: 1vw 2vw;
	gap: 1rem;
	font-family: Raleway;
	font-weight: 500;
	background-color: #b46bd1;
	color: white;
}

.heading :first-child {
	position: relative;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	border: 1.4px solid white;
	background: url("/assets/bot-image.png");
	background-size: cover;
	background-position: center;
}

.heading :first-child::before {
	content: "";
	width: 6.984px;
	height: 6.984px;
	border: 1px solid white;
	border-radius: 50%;
	background-color: #4caf50;
	position: absolute;
	color: aqua;
	right: 3%;
	bottom: 5%;
	z-index: 1000;
}

.chat {
	height: 100%;
	width: 100%;
	padding: 1.5vw 2vw;
	overflow-y: auto;
}

.chat > * {
	border-radius: 5.238px;
	overflow: hidden;
	height: max-content;
	margin: 1vw 0;
	font-size: 1.11vw;
	padding: 0.6vw 0.7vw;
	width: fit-content;
	margin-right: auto;
	border: none;
}

.chat > :first-child {
	border-radius: 0 5.238px 5.238px 5.238px;
}

.chat .bot {
	background-color: #F7E1FF;
}

.chat select {
	display: block;
	width: 70%;
	margin: 0.5vw auto;
	font-size: medium;
	background-color: #fbedff;
	padding: 0.5vw 0.7vw;
	border-radius: 5px;
}

.option {
	display: block;
	border: 0.069vw solid #B86CD2;
	background-color: transparent;
}

.chat .user {
	margin-right: 0;
	margin-left: auto;
	background-color: #e5e5ea;
}

.inputBox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1vw 2vw;
	box-shadow: 0.873px 0.873px 6.547px 0px rgba(0, 0, 0, 0.15);
}

.inputBox input {
	width: 100%;
	padding: 0.5rem 1rem;
	align-items: center;
	border: none;
	border-radius: 4px;
	background: #f7e1ff;
	cursor: not-allowed;
	color: #000;
	font-weight: 500;
	font-family: Raleway;
	font-size: 14px;
}

.inputBox input::placeholder {
	color: #000;
	font-weight: 500;
	font-family: Raleway;
	font-size: 14px;
}

.inputBox input:focus {
	outline: none;
}

.inputBox button {
	background: none;
	border: none;
	border-radius: 0.555vw;
	padding: 0.55vw 1.11vw;
	margin-left: 1.11vw;
}
